//
//  Staging.xcconfig
//  PiacereChef
//
//  Created by Mario Rúa on 19/11/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_BASE_URL = api.staging.piacere.com
APP_NAME = $(inherited)-Staging
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-NonProd
